# Entornos
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

#Data local
backend/storage/documentos
deploy/ 
database/